li{ 
      border: 0;
      border-radius: 20px;
      padding: 10px 18px;
      background-color: #ff0000;
      display: inline-block;
      margin-left: 30px;
      color: #5d5d5d;
      cursor: pointer;
      text-decoration: none;
  }
  /*body{
    background-image: url("https://repository-images.githubusercontent.com/355386280/84e794f4-743a-42c6-932f-aeee6977481c");
  }*/