label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label.error.fail-alert {
    border-radius: 4px;
    line-height: 1;
    padding: 2px 0 6px 6px;
}

input.valid.success-alert {
    border: 2px solid #4CAF50;
}

input.error, textarea.error {
    font-weight: 300;
    color: red;
}